{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>

<body>
    <div class="topnav">
        <a href="/">PRINCIPAL</a> |
        <a href="/livros">LIVROS</a> |
        <a href="/tccs">TCCs</a> |
        <a href="/dashboard">DASHBOARD</a> |
        <a href="/auth/login">LOGIN</a> |
        <a href="/auth/cadastro">CADASTRE-SE</a>
    </div>
    {% extends "base.html" %}

    {% block titulo %}
    Portal Biblioteca - Livros
    {% endblock %}

    {% block conteudo %}
    <div class="mycard">
        <h1>Livros</h1>
        <ul>
            {% for l in livros %}
            <li>{{ l.nome }} | {{ l.autor }} | {{ l.ano }} </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>

</html>